body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-device-width: 480px) {
    /* スマホ用のCSS */
#features {
    visibility: hidden;
}
}