body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}